# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# Build artifacts
dist/
build/

# Database files
*.sqlite
*.sqlite3
*.db

# Editor/IDE settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Postman files
postman/
